# Ignore node_modules directory
node_modules

# Ignore Gradle cache directory
/opt/gradle/.gradle

# Ignore Android SDK directories
/opt/android-sdk/cmdline-tools/bin
/opt/android-sdk/cmdline-tools/latest
/opt/android-sdk/emulator
/opt/android-sdk/licenses
/opt/android-sdk/patcher
/opt/android-sdk/platforms
/opt/android-sdk/platform-tools

# Ignore temporary files and directories
/tmp
.DS_Store
.idea
*.log